
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


.contact {
    padding-top: 20px;
    h2 {
        margin: 20px;
        font-family: 'Kalam', cursive;
        @media (max-width: 599px){
            margin: 0;
            padding: 0;
        }
    }

    .contact-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        background-color: rgba(255,255,255, 0.6);
        padding: 20px;
        font-family: 'Kalam', cursive;
        font-size: 18px;

        img {
            width: 60px;
            margin: 20px;
            border-radius: 50%;
        }

        @media(max-width: 400px){
            flex-direction: column;
        }
    }
}